* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Norse;
  src: url(./Norse-Bold.otf);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.content {
  background-color: #f9fafb;
  max-width: 70%;
  min-height: 95%;
  margin: auto;
  display: flex;
}

.side-img {
  position: relative;
  max-width: 35%;
  display: flex;
}

.logo-banner {
  font-family: Norse;
  font-size: xx-large;
  color: white;
  display: flex;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  top: 25%;
  max-height: 15vh;
  min-width: 100%;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.logo-banner img {
  max-height: 14vh;
}

img {
  max-width: 100%;
  object-fit: cover;
}

p {
  font-weight: 600;
  font-size: x-large;
}
.form-content {
  background-color: white;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.form-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 15px;
  padding: 35px 70px 35px 35px;
  margin-left: 25px;
  min-width: 100%;
  min-height: 35%;
}

.forms {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 25%;
  box-shadow: 0px 6px 2px -2px rgb(194, 194, 194);
}

.forms p {
  margin-left: 60px;
  color: rgb(50, 55, 61);
}
form {
  font-weight: 600;
  font-size: small;
  color: rgb(88, 98, 109);
  display: inline-block;
}

label {
  display: inline-block;
  margin: 10px 60px 10px 60px;
  gap: 3px;
}

input {
  border: 1px solid #e5e7eb;
  border-radius: 5px;
  padding: 5px;
  margin-top: 3px;
}

.form-bottom {
  padding: 35px;
  min-width: 100%;
}

.form-bottom p {
  font-size: 1rem;
  color: rgb(49, 49, 49);
  font-weight: 600;
  margin-top: 25px;
}

button {
  background-color: #596d48;
  font-size: large;
  font-weight: 600;
  color: white;
  padding: 10px 45px 10px 45px;
  border-radius: 10px;
  border-style: none;
}

button:hover {
  background-color: #6d8359;
}

a {
  color: #6d8359;
  font-weight: 600;
  text-decoration: none;
}

#lastname:focus {
  box-shadow: 2px 2px 2px grey;
  border: 0.5px solid rgba(49, 49, 255, 0.5);
}

.error {
  border: 1.5px solid rgb(214, 51, 51);
}

#error-message-hidden {
  visibility: hidden;
}

#error-message {
  font-size: small;
  font-weight: 500;
  color: rgb(214, 51, 51);
  margin-top: -10px;
  margin-bottom: 10px;
  align-self: baseline;
  justify-self: baseline;
}

.credits {
  display: flex;
  font-size: small;
  position: absolute;
  color: white;
  align-self: flex-end;
  margin-left: 25%;
}

span {
  text-decoration: underline;
  margin: 0px 4px 10px 4px;
}
